extends layout
  
block content
  link(rel="stylesheet", href="/stylesheets/register-form.css")
  link(rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  if exists
    input(id="idHidden" type="hidden" value=id)
    input(id="patientHidden" type="hidden" value=patient)
    input(id="appointmentTimeHidden" type="hidden" value=appointmentTime)
    input(id="startDateHidden" type="hidden" value=startDate)
    input(id="endDateHidden" type="hidden" value=endDate)
  form(id="registerAppointmentForm" method="POST")
    div(class="register-form")
      span REGISTRAR
      div
        label(for="patientFile") paciente
        input(id="patientFile" name="patientFile")
      div(class="error-field")
        label(for="patientFile" class="error")
      div    
        label(for="appointmentTime") hora
        input(id="appointmentTime" name="appointmentTime")
      div(class="error-field")
        label(for="appointmentTime" class="error")
      div    
        label(for="startDate") fecha de inicio
        input(id="startDate" name="startDate" type="text")
      div(class="error-field")
        label(for="startDate" class="error")
      div    
        label(for="endDate") fecha de inicio
        input(id="endDate" name="endDate" type="text")
      div(class="error-field")
        label(for="endDate" class="error")
      div
        label(class="submit-error")
      div(class="submit-div")
        input(type="button" value="Volver" class="button back")
        input(type="submit" value="Registrar" class="button submit")
    
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.4/moment.min.js")     
    script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
     
    script(src="/javascripts/common-rules-validations.js")          
    script(src="/javascripts/register-appointment.js")
